/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
h1 {
    font-family: 'Berkshire Swash', cursive;
}
/* Header css */
.header-container {
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}
.overley {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
}
/* Player List  */
.player-list {
    list-style: auto;
}